@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* :root {
  --background: red;
  --foreground: black;
}
[data-theme="dark"] {
  --background: red;
  --foreground: white;
  background-color: var(--background);
}

[theme="dark"] {
  --background: red;
} */
